@page
@model ClinicAppointment.Pages.LoginModelPage
@{
    ViewData["Title"] = "Admin Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/Styles/login.css" />

</head>
<body>
    <div class="login-container">
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger">
                @TempData["ErrorMessage"]
            </div>
        }
        <h2>Admin Login</h2>
        <form method="post">
            @Html.AntiForgeryToken()

            <div>
                <label for="username">Username</label>
                <input type="text" id="username" name="LoginData.Username" required />
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" id="password" name="LoginData.Password" required />
            </div>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
</html>
